
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared style */
.text-primary{
    color: #4E47FF;
}
.colour{
    color: #252432;

}
/* background */
.background{
    background-image: url(../Assets/Hero-bg.png);
    height: 698px;
    width: 1440px;
}

/* Nav style */
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 150px; 
    margin-right: 150px; 
    margin-bottom: 158px;
}

.nav-title{
    font-size: 34px;
}

nav ul li{
    list-style: none;

}
nav ul a{
    text-decoration: none;
}
 /* Button */
 .btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
 }
 .description{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    text-align: center;
 }
.header-part{
    text-align: center;
    padding-bottom: 200px;
    height: 152px;
    width: 905px;
    margin-left: 267.5px;
    margin-right: 267.5px;
}
/* Banner style */

.banner{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 141px 0 159px;
}

.banner-content{
    width: 510px;
}

.banner-greetings{
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 23px;

} 
.banner-description{
    font-weight: 400;
    font-size: 24px;
    color:#252432;
    opacity: 50%;
    text-align: left;

}
img{
    border-radius: 48px;
    width: 403px;
    height: 324px;
}